@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .interval {
    outline: solid;
    outline-color: black;
    outline-width: 2px;
    height: 4vh;
    width: 100vh;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .fretBoard {
    outline: solid;
    outline-color: black;
    outline-width: 3px;
    margin-right: 2vw;
    margin-left: 2vw;
  }
}

button {
  background-color: black;
  color: white;
  border-radius: 5px;
  font-size: 3vh;
  padding: 0.5vh;
  margin: 0.5vh;
}